@font-face {
    font-family: Involve;
    src: url(/fonts/Involve-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.main-container {
    padding-left: 96px;
    padding-top: 64px;
    padding-right: 96px;

    @media screen and (max-width: 1040px){
        padding-left: 47px;
        padding-top: 40px;
        padding-right: 47px;
    }
}

.button {
    font-family: inherit;
    text-decoration: none;
    border: none;
    border-radius: 83px;
    color: white;
    background-color:#093CB5;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: white;
    color: #093CB5;
    box-shadow: 0px 25px 50px rgba(155, 161, 167, 0.1997);
}

h2 {
    font-family: Involve;
}

p {
    font-family: "Manrope", sans-serif;
}

.main-header {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.header-link {
    margin-left: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 272px;
    height: 58px;
}

.header-link span {
    margin-right: 26px;
    font-family: 'IBM Plex Sans';
}

.header-link svg {
    margin-left: 26px;
    margin-right: 8px;
}

.header-link:hover path,
.header-link:focus path {
    fill: #093CB5;
}

/*блок заголовка сайта*/
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 660;
}

.main-wrapper {
    margin-top: 0;
    padding-top: 0;
    width: 50%;
    margin-right: 20px;
    object-fit: contain;
    width: 840px;

    @media screen and (max-width: 1040px){
        width: 400px;
    }
}

.main-wrapper h2 {
    font-size:80px;
    line-height: 90px;
    margin: 0;
    margin-bottom: 36px;
    font-weight: 700;

    @media screen and (max-width: 1040px){
        font-size: 40px;
        line-height: 40px;
    }
}

.main-wrapper p {
    margin-top: 50px;
    font-size: 22px;
    line-height: 30px;

    @media screen and (max-width: 1040px){
        font-size: 17px;
        line-height: 20px;
    }
}

.main-img {
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-wrapper button {
    margin-top: 90px;
    width: 506px;
    height: 90px;
    font-size: 32px;
    font-weight: 700;
    font-family: Involve;
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 60px;
    line-height: 15px;

    @media screen and (max-width: 1040px){
        width: 250px;
        height: 50px;
        font-size: 15px;
        padding: 0;
        margin-top: 20px;
    }
}

/*почему мы слайдер*/
.benefits {
    margin-top: 140px;
    margin-left: 0;
    padding: 0;
    margin-left: 0;
    
    @media screen and (max-width: 1040px){
        margin-top: 80px;
    }
}

.benefits h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
    }
}

.benefits-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.slider-list  {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 32px;
    padding: 0;

    @media screen and (max-width: 1040px){
        gap: 30px;
    }
}

.slider {
    width: 554px;

    @media screen and (max-width: 1040px){
        width: 285px;
    }
}

.slider div {
    padding-top: 71px;
    padding-left: 65px;
    padding-bottom: 70px;
    padding-right: 76px;
    border-radius: 96px;
      
    height: 200px;
    font-family: "Manrope", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 30px;

    @media screen and (max-width: 1040px){
        height: 150px;
        font-size: 18px;
        padding-top: 50px;
    }
}

.slider-item img {
    @media screen and (max-width: 1040px){
        height: 25px;
        width: 25px;
    }
}

.slider-item p {
    margin-bottom: 10px;
    padding-bottom: 60px;
}

.slider span {
    color: white;
    opacity: 50%;
}

.el-1 {
    background-color: #8FBCFF;
}

.el-2 {
    background-color: #FCC066;
}

.el-3 {
    background-color: #FF8F8F;
}

.el-4 {
    background-color: #4EBC56;
}

.el-5 {
    background-color: #AA80C5;
}


/*блок с описанием товаров*/
.about {
    margin-top: 140px;
    
    @media screen and (max-width: 1040px){
        margin-top: 80px;
    }
}

.about h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
    }
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.about-wrapper h3 {
    margin-top: 32px;
    font-family: Involve;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;

    @media screen and (max-width: 1040px){
        font-size: 25px;
    }
}

.about-wrapper p {
    font-family: "Manrope", sans-serif;
    font-size: 20px;

    @media screen and (max-width: 1040px){
        font-size: 15px;
    }
}

.about-item img {
    @media screen and (max-width: 1040px){
        width: 230px;
    }
}


/*каталог товаров + фильтр*/
.cart h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
    }
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 32px;
    margin-right: 32px;
}

.card {
    position: relative;
    width: 842px;
    height: 514px;
    border:  1px solid #00000008;
    border-radius: 40px;
    box-shadow: 0px 25px 50px 0px #9BA1A733;

    @media screen and (max-width: 1040px){
        width: 430px;
        height: 450px;
    }
}

.card-item {
    display: flex;
    flex-direction: row;
}

.card-item_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 64px;
    height: 448px;
    
    @media screen and (max-width: 1040px){
        margin-left: 30px;
    }
}

.card-item_text h3 {
    width: 355px;
    margin-top: 64px;
    margin-bottom: 32px;
    font-family: Involve;
    font-weight: 700;
    font-size: 36px;

    @media screen and (max-width: 1040px){
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 0;
        width: 160px;
    }
}

.card-item_text p {
    margin: 0;
    padding-right: 10px;
    height: 90px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: #000000A6;

    @media screen and (max-width: 1040px){
        font-size: 15px;
        width: 150px;
    }

}

.card-item_text button {
    position: relative;
    width: 190px;
    height: 128px;
    border-radius: 28px;
    font-family: Involve;
    font-size: 36px;
    font-weight: 700;
    
    @media screen and (max-width: 1040px){
        width: 120px;
        height: 90px;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.card-item_text button img {
    position: absolute;
    left: 30px;
    top: 20px;

    @media screen and (max-width: 1040px){
        width: 20px;
        height: 20px;
        left: 10px;
    }
}

.card-item_text button span {
    display: block;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 38px;
    margin-bottom: 10px;

    @media screen and (max-width: 1040px){
        font-size: 15px;
        padding-left: 20px;
    }
}

.card-item_new {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 79px;
    height: 62px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 60px;
    background: #FF7474;
    top: 58px;
    right: 50px;
    border-radius: 20px;
    box-shadow: 0px 2.77px 2.21px 0px #9BA1A705;

    box-shadow: 0px 6.65px 5.32px 0px #9BA1A707;

    box-shadow: 0px 12.52px 10.02px 0px #9BA1A709;

    box-shadow: 0px 22.34px 17.87px 0px #9BA1A70B;

    box-shadow: 0px 41.78px 33.42px 0px #9BA1A70D;

    box-shadow: 0px 100px 80px 0px #9BA1A712;

}

.card-item img {
    margin-right: 54px;
    align-self: last baseline;

    @media screen and (max-width: 1040px){
        width: 50%;
        height: 50%;
    }
}

input[type="radio"] { 
    display: none; 
}

.cart input[type="radio"] + label {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    align-self: center;
    cursor: pointer;
    margin: 50px;
    padding-top: 29px;
    padding-right: 36px;
    padding-bottom: 29px;
    border-radius: 60px;
    background-color: #F7F7F7;
    color: #000000A6;
    font-family: "Inter", sans-serif;
    font-size: 32px;

    @media screen and (max-width: 1040px){
        padding-top: 8px;
        padding-right: 15px;
        padding-bottom: 8px;
        padding-left: 0;
        font-size: 15px;
        margin: 15px;
    }
}

.cart input[type="radio"] + label:hover {
    text-decoration: underline  #053097;
}

.label-img {
    float: left;
    width: 53px;
    height: 53px;
    margin-left: 20px;
    margin-right: 15px;

    @media screen and (max-width: 1040px){
        width: 20px;
        height: 20px;
    }
}


#category:checked ~ .container .card { display: block; }
#giro:checked ~ .container .card:not(.giro),
#electro:checked ~ .container .card:not(.electro),
#segway:checked ~ .container .card:not(.segway) {
      display: none;
}


/*секция с консультантами*/
.consult h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
        margin-top: 80px;
    }
}

.consult-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;

    @media screen and (max-width: 1040px){
        gap: 20px;
    }
}

.consult-wrapper img {
    @media screen and (max-width: 1040px){
        width: 50%;
    }
}

.consult-text {
    padding-top: 62px;
    padding-right: 122px;
    padding-bottom: 188px;
    padding-left: 33px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    border-radius: 60px;
    box-shadow: 0px 25px 50px 0px #9BA1A733;

    @media screen and (max-width: 1040px){
        font-size: 15px;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
}

/*секция с брендами*/

.brands h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
        margin-top: 80px;
    }
}

.brands-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-top: 125px;
    padding-right: 93px;
    padding-bottom: 76px;
    padding-left: 94px;
    border-radius: 60px;
    box-shadow: 0px 25px 50px 0px #00000033;
    height: 606px;

    @media screen and (max-width: 1040px){
        padding-top: 30px;
        padding-right: 40px;
        padding-bottom: 30px;
        padding-left: 40px;
    }
}

.brands-item img {
    @media screen and (max-width: 1040px){
      width: 40%;
    }
}

/*самокат, сигвей что выбрать*/
.choosing {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: 1040px){
        margin-top: 80px;
    }
}

.choosing img {
    @media screen and (max-width: 1040px){
        padding-top: 160px;
        width: 50%;
    }
}

.choosing-text h3 {
    font-family: Involve;
    font-size: 40px;
    font-weight: 700;
    color: #093CB5;
    margin-bottom: 105px;

    @media screen and (max-width: 1040px){
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.choosing-text p {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 1040px){
        font-size: 15px;
    }
}

.choosing-text div {
    padding-top: 62px;
    padding-right: 67px;
    padding-bottom: 130px;
    padding-left: 33px;
    border-radius: 60px;
    box-shadow: 0px 25px 50px 0px #9BA1A733;

    @media screen and (max-width: 1040px){
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 33px;
    }
}


/*форма подписки*/
.subscribtion {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: 1040px){
        margin-top: 80px;
        flex-direction: column;
    }
}

.subscribtion img {
    width: 100%;
}

.form {
    margin-top: 170px;
    margin-bottom: 150px;
    padding: 72px;
    width: 845px;
    height: 524px;
    border-radius: 60px;
    box-shadow: 0px 25px 50px 0px #9BA1A733;

    @media screen and (max-width: 1040px){
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 30px;
        width:800px;
    }
}

.form h3 {
    text-align: center;
    font-family: Involve;
    font-size: 40px;
    font-weight: 700;
    color: #093CB5;
}

.subscribtion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subscribtion-form input {
    padding: 20px 0px 20px 20px;

    width: 701px;
    border: none;
    border-radius: 60px;
    background: #0000000D;
    font-family: Fira Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.subscribtion-form button {
    padding: 20px 40px;
    width: 701px;
    height: 93px;
    font-size: 40px;
    font-family: Involve;
}


/*отзывы*/
.feedback h2 {
    font-family: Involve;
    font-weight: 700;
    color: #053097;
    font-size: 96px;

    @media screen and (max-width: 1040px){
        font-size: 45px;
    }
}

.feetback-carousel {
    width: 100%;
    height: 100%;
    position:relative;
}

.feetback-carousel input {
    display: none;
    
}

.feetback-carousel input + label {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #0000001A;

    cursor: pointer;

    z-index: 100;
    position: relative;
    left: 44%;
    bottom: -810px;
    margin-right: 48px;

    transition: background 0.8s ease-out 0s;

    @media screen and (max-width: 1040px){
        width: 20px;
        height: 20px;
    }
}

.feetback-carousel input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.feetback-carousel input:checked + label {
    background: #093CB5;
}


.slide {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;

    @media screen and (max-width: 1040px){
        gap: 15px;
    }
}

.feetback-carousel input:checked + label + .slide {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.feetback-list {
    list-style: none;
}

.feetback-item {
    position: relative;
    width: 848px;
    height: 350px;
    border-radius: 60px;
    box-shadow: 0px 25px 50px 0px #9BA1A733;

    @media screen and (max-width: 1040px){
        width: 400px;
    }
}

.feetback-item img {
    @media screen and (max-width: 1040px){
        width: 30%;
    }
}

.feetback-card {
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 111px;
    padding-right: 141px;

    @media screen and (max-width: 1040px){
        padding-left: 30px;
    }
}

.feetback-card  div {
    margin-left: 130px;
    margin-top: 60px;
    margin-right: 141px;
    margin-bottom: 111px;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1040px){
        margin-left: 100px;
        margin-top: 60px;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.feetback-card h3 {
    color: black;
    margin: 0;
    font-family: Involve, sans-serif;
    font-weight: 700;
    font-size: 36px;

    @media screen and (max-width: 1040px){
        font-size: 20px;
    }
}

.feetback-card span {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: #00000099;

    @media screen and (max-width: 1040px){
        font-size: 15px;
    }
}

.feetback-card p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;

    @media screen and (max-width: 1040px){
        padding: 0;
        margin-top: 15px;
        font-size: 15px;
    }
}

/*Кнопка вернуться наверх*/
.up-link {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 68px;
    margin-left: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 486px;
    height: 103px;
    opacity: 80%;

    @media screen and (max-width: 1040px){
        width: 100px;
        height: 100px;
    }
}

.up-link svg {
    margin-left: 8px;
    margin-right: 26px;

    @media screen and (max-width: 1040px){
        margin: 10px;
    }
}

.up-link span {
    margin-left: 26px;
    font-family: Involve;
    font-size: 32px;
    font-weight: 700;

    @media screen and (max-width: 1040px){
        display: none;
    }
}

.up-link:hover path,
.up-link:focus path {
    fill: #093CB5;
}

/*Футер*/
.footer {
    margin-top: 1150px;

    @media screen and (max-width: 1040px){
        margin-top: 890px;
    }
}

.footer-logo img {
    @media screen and (max-width: 1040px){
        width: 60%;
        height: 10%;
        margin-top: 30px;
    }
    
}

.footer-wrapper {
    display: flex;
}

.footer-wrapper h4 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    
    @media screen and (max-width: 1040px){
        font-size: 20px;
    }
}

.footer-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.footer-wrapper li {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    color: #000000A6;
    
    @media screen and (max-width: 1040px){
        font-size: 15px;
    }
}

.footer-socials_list {
    display: flex;
    justify-content: space-between;
}

.footer-partnership {
    width: 342px;
    margin-left: 402px;

    @media screen and (max-width: 1040px){
        margin-left: 50px;
    }
}

.footer-buyers {
    width: 322px;
    margin-left: 86px;

    @media screen and (max-width: 1040px){
        margin-left: 30px;
    }
}

.footer-info {
    display: flex;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    color: #00000059;

    @media screen and (max-width: 1040px){
        font-size: 15px;
    }
}

.footer-socials {
    margin-left: auto;
}

.footer-info p:first-child {
    margin-right: 370px;

    @media screen and (max-width: 1040px){
        margin-right: 70px;
    }
}

.footer-info p:last-child {
    margin-left: 100px;
}


